
.frm{
    border: solid grey 1px;
    width:25%;
    margin: 100px auto;
    margin-left: 25%;
    background: white;
    padding: 25px;
    float: left;
    overflow: hidden;
    align-items: center
}

#signup{
  width:50%;
  margin-top: 50px;
  margin-left: 10%;
}

#send {
  width:60%;
  margin-top: 50px;
  margin-left: 5%;
}

.btn{
    color: #fff;
    background-color: green;
    border: solid green;
    padding: 7px;
    margin-left: 70%;
    border-radius: 5px;
    text-decoration: none;
    display: inline;
}

.btn2{
  color: #fff;
  background-color: green;
  border: solid green;
  padding: 7px;
  margin-left: 75%;
  border-radius: 5px;
  text-decoration: none;
  display: inline;
  font-size: 20px;
}

.btn:hover, .btn2:hover{
    opacity: 0.9;
    transition: all 0.3s;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #333;
}

.btn a{
  font: size 14px;
  color: white;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbtn{
    font-size: 20px;
    outline: none;
    border: none;
    color: white;
    padding: 11px 15px;
    background-color: #337ab7;
    font-family: inherit;
    margin: 0;
    float: left;
}

.dropdown .dropbtn {
  font-size: 16px;
  outline: none;
  border: none;
  color: white;
  padding: 12px 15px;
  background-color: #337ab7;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .navbtn:hover{
    opacity: 0.9;
    transition: all 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbtn a{
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.3s;
}

.err {
    color: red;
    display: inline;
}

.d1 {
    width:25%;
    margin-top: 100px auto;
    background: white;
    padding: 25px;
}

.d2 {
    width:70%;
    margin: 50px auto;
    padding: 25px;
    float : left;
    font-size: 30px;
}

.d3 {
  font-size: 20px;
}

.d1 a:hover{
    opacity: 0.9;
    transition: all 0.3s;
}

.d1 a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    background-color: green;
    border: solid green;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    display: block;
}

/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 20%; 
  position: fixed; 
  z-index: 1; 
  right: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 120px; 
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightgrey;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: grey;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
}

.table th, .table td{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.table tr:hover {
  background: lightgrey;
  transition: 0.3s;
}

.thead {
  background-color: grey;  
  color: white;
}

.table .thead:hover {
  background-color: grey;  
}

.table td a { 
  color:black;
  text-decoration: none;
  display: block; 
}

.table2 th {
  background-color: grey;
  color: white;
  font-size: 20px;
  width: 20%;
}

.table2 th, .table2 td{
  border: 1px solid black;
  padding: 20px;
}
